body{
    background:#9c9898;
}
body h4{
    margin-top: 90px;
    font-size: 30px;
    text-transform: capitalize;
    background: linear-gradient(to left,#808808,#675443);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}